<%- include('../shared/header.ejs') _%>
    <article class="container center" id="main-article">
      <h1>About Page</h1>
      <p>
        My name is Nathan Overboe
      </p>
      <br>
      <a href="https://github.com/noverboe?tab=repositories">Visit My Repository on Github</a>
    </article>
  </body>
</html>