<%- include('../shared/header.ejs') %>
<article class="container center" id="main-article">
  <h1>Pick A Book</h1>

  <div class="library-shelf">
    <img src="/bookShelf.jpg" alt="Library Shelf">
    <a href='/guide/1' class="book-link"><img src="AliceBook.jpg" alt="Alices Adventures in Wonderland"></a>
    <a href='/guide/2' class="book-link"><img src="ProphetBook.jpg" alt="The Prophet"></a>
  </div>
</article>
</body>
</html>
