<%- include('../shared/header.ejs') %>

<h1>A Basic Web Server</h1>

<div>
  <button onclick="location.href='/guide/1'">Book 1</button>
  <button onclick="location.href='/guide/2'">Book 2</button>
</div>

<%- include('../shared/footer.ejs') %>
</body>
</html>
