<%- include('../shared/header.ejs') _%>
<article>
  <h2>Table of contents</h2>
  <ul>
    <% chapters.forEach((chapter) => { %>
      <li>
        <span>Chapter Number: <%= chapter.chapter_number %></span><br>
        <span>Chapter Title: <%= chapter.chapter_title %></span><br>
        <a href="/guide/<%= chapter.chapter_number %>">Read Chapter</a>
      </li>
    <% }) %>
  </ul>
</article>
</body>
</html>
